/************

filename: #main.css

Date: 25 June 2012

Author: Nedbie Francis F. Amoranto

Edited by: Paulina Hernandez, Miguel Sumaya
Date: June 26 2012

*************/


body
{
	width:100%;
	background:#ccffcc url('../Images/bg.gif'); /* for non-css3 browsers */
	margin-left:auto;
	margin-right:auto;
	font-family: sans-serif;
	font-size: 1em;
}


body.block {

	display:block;

}


header {
	
	color: #f6f6f6;
	font-family: sans-serif;
	background-color:#454545;
	width:100%;
	height:2em;
	position:fixed;
	top:0;	
	-moz-box-shadow: 0 0 2px 2px #1e1e1e;
	-webkit-box-shadow: 0 0 2px 2px #1e1e1e;
	box-shadow: 0 0 2px 2px #1e1e1e;
	
}

.mainContent {
	
	display: table;
	margin-left:auto;
	margin-right:auto;
	height: auto;
	background-color: #EEE;
	padding: 2px;
	border: 1px solid #CFCFCF;
	box-shadow: 2px 2px 0 0 #a0a0a0;
	position: relative;
	z-index: -1;
	
}

.contentPane {
	
	height: auto;
	background-color: #fbfbfb;
	border: 1px solid #CFCFCF;
	padding: 10px;
	
}

footer {
	
	color: #9d9d9d;
	font-size: 10px;
	font-family: sans-serif;
	text-align: center;
	width:100%;
	height:3em;
	position:relative;
	
}




